{% load static %}
<footer class="theme-footer-two">
				<div class="top-footer">
					<div class="container">
						<div class="row">

							<div class="col-lg-7 col-sm-6 col-12">
								<div class="yandex-map" id="map"></div>
							</div> <!-- /.footer-gallery -->

							<div class="col-lg-3 col-sm-6 col-12 contact-widget">
								<h6 class="title">Контакты</h6>
								<ul>
									<li>
										<i class="flaticon-direction-signs"></i>
										г.Москва, ул.Пушкина 56
									</li>
									<li>
										<i class="flaticon-multimedia-1"></i>
										<a href="#">info@1clike.com</a>
									</li>
									<li>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<a href="#">(+7) 495  9808  000</a>
									</li>
								</ul>
								<ul class="social-icon">
										<li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									</ul>
							</div> <!-- /.contact-widget -->
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.top-footer -->
				<div class="bottom-footer">
					<div class="container">
						<p>&copy; Создание сайтов | 2019</p>
					</div>
				</div> <!-- /.bottom-footer -->
			</footer> <!-- /.theme-footer-two -->